window,stack{
    background-color:black;
}
headerbar{
    background: black;
}
columnview, listview{
    background: black;
}
button{
    background:rgb(38, 28, 50);
}
button.icon_button{
    background: rgba(0, 0, 0, 0);
}
button.close:hover{
    background-color: rgb(198, 0, 0);
    border-radius: 0px;
}
button.maximize, button.minimize, button.close{
    color:rgb(79, 113, 99);
}
button:hover{
    background:rgb(26, 33, 95);
}
button.start_quiz_button:hover{
    background:rgb(76, 87, 186);
}
label,value{
    color:rgb(218, 217, 217);
}
entry{
    background:rgb(70, 67, 67);
    color:rgba(110, 214, 179, 0.834);
    caret-color: white;
}
check{
    background: rgb(58, 52, 52);
}
highlight{
    background:rgba(26, 255, 0, 0.834);
}
separator{
    background-color: rgb(74, 74, 21);
}
placessidebar,list,actionbar,gridview{
    background-color: rgba(245, 222, 179, 0);
}
row:hover{
    background: rgba(11, 11, 93, 0.539);
}
row.sidebar-row:selected{
    background: rgba(42, 81, 3, 0.483);
}
image.sidebar-icon{
    color: white;
}